:root{
  --black: #000;
  --white: #fff;
  --pink1: #ff9ba4;
  --pink2: #ed274a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

* {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
  background-color: var(--pink1);
}

/* -HEADER- */

header{
  width: 100%;
  background-color: var(--pink2);
  padding: 15px 0;
}

h1{
  margin: auto;
  text-align: center;
}

/* -MAIN- */

.f{
  width: 250px;
  border-radius: 20px;

  box-shadow: 0px 0px 30px var(--pink2);
  transition: all 0.5s;
}

.f:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 60px var(--pink2);
}

.photoContainer{
  margin: 20px 0 0 0;
  background-color: var(--pink1);
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.heartF{
  background-color: transparent;
  background-image: url(IMGS/Heart.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 212px;
  transition: all 0.8s;
}

.heartF:hover{
  width: 230px;
  height: 242px;
}

@media screen and (max-width: 850px){

  .photoContainer{
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  }

  .heartF{
  grid-column: 1 / span 2;
  width: 150px;
}

.f{
  width: 150px;
}
  

}
